*.res linguist-language=vdf
**/*.res linguist-detectable=true
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
LICENSE export-ignore
resource/*.txt text working-tree-encoding=UTF-16LE-BOM